body {
    font-family: "Roboto",sans-serif;
    color: #434455;
}
.logo {
    font-size: 18px;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    color: #2E2F42;
    text-transform: uppercase;
    display: block;
}
.logo span {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #4D5AE5;
    text-transform: uppercase;
}

.tikla {
    background-color: #4D5AE5;
    color: #FFFFFF;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    margin:2px;
    font-style: normal;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.tikla:hover,
.tikla:focus {
    background-color: #404BBF;
    cursor: pointer;
}
.section-title .header3{
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight:500;
    font-style: normal;
    font-family: "Roboto", sans-serif;
}
.section-title p{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal; 
}
.section-title .efekt {
    padding: 25px;
    font-weight: 700;
    line-height: 250%;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 56px;
    text-align: justify;
}
.bilgiler .link {
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
}
.link a:hover,
.link a:focus {
    color:#404BBF;
    cursor: pointer;
}
.address a:hover,
.address a:focus {
    color: #404BBF;
    cursor: pointer;
}
.adres .address {
    color:#434455; 
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
}
.logo2 {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #2E2F42;
    text-transform: uppercase;
}
.logo2 span {
    font-size: 18px;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    color: #4D5AE5;
    text-transform: uppercase;
}
.end {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 16px;
    font-style: normal;
}
.end a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 18px;
    font-style: normal;
    text-transform: uppercase;
}
.resimler1 {
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2px;
}
.resimler1 .baslik2 {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 2px;
}
.font {
    color: #2E2F42;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: justify;

}
.resimler1 p {
    color: #434455;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: justify;
}
.eleman h4 {
    color: #2E2F42;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: justify;
}
.eleman .baslik2 {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 2px;
    font-size: 36px;
    text-align: justify;
}
.eleman p {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: justify;
}
.arka-plan {
    background-color: white ;
}
ul li {
    list-style-type: none;
}